body {
    background: url(../src/images/weather.png);
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

p {
    text-align: center;
    font-size: 1.5em;
    color: #404040;
}

.jumbotron {
    text-align: center;
    font-weight: bold;
    background: #ffcc00;
    color: #404040;
}

.title {
    font-weight: bolder;
    font-size: 5em;
}

.game-message {
    text-align: center;
    max-width: 100%;
    align-content: center;
}

.game-message p {
    background: white;
    padding: 20px 0;
    margin: 0;
    font-size: 1.5em;
}

.game-scores {
    text-align: center;
    max-width: 100%;
    align-content: center;
    margin-bottom: 10px;
}

.game-scores p {
    font-size: 1.25em;
}

.card-container {
    display: -ms-flexbox;
    display: flex;
    min-height: 80%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    margin: 0 auto;
}

.game-card {
        background-size: cover;
        background-position: 50%;
        height: 170px;
        width: 170px;
        margin: 8px 25px;
        border: 5px solid #f1f1f1;
        border-radius: 3px;
        -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
        box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
        cursor: pointer;
    }