p {
    text-align: center;
    font-size: 1.5em;
    color: #404040;
    font-weight: lighter;
}

.jumbotron {
    text-align: center;
    background: #ffcc00;
    color: #404040;
    margin: 0;
    width: 100%;

}

.title {
    font-weight: bolder;
}